<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>A fantastical adventure</h1>
    <p>One day, @Model.GetPerson1() and @Model.GetPerson2() were walking through the woods,
    when suddenly a giant @Model.GetAnimal() appeared. "@Model.GetExclamation()!"
    @Model.GetPerson1() cried. The two of them @Model.GetVerb() as quickly as possible,
    and when they were safe, @Model.GetPerson1() and @Model.GetPerson2() gave each other a giant @Model.GetNoun().</p>
  </body>
</html>
